<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gene.recombine.stuhubsys.mapper.ScoreMapper">

    <resultMap id="BaseResultMap" type="gene.recombine.stuhubsys.entity.Score">
            <id property="scoreId" column="score_id" />
            <result property="studentId" column="student_id" />
            <result property="scoreScore" column="score_score" />
            <result property="courseId" column="course_id" />
    </resultMap>

    <resultMap id="SelectedCourseVOMap" type="gene.recombine.stuhubsys.vo.ScoreVO">
        <id property="scoreId" column="score_id" />
        <result property="studentId" column="student_id" />
        <result property="studentName" column="student_name" />
        <result property="courseId" column="course_id" />
        <result property="courseName" column="course_name" />
        <result property="courseClassroom" column="course_classroom" />
        <result property="courseTime" column="course_time" />
        <result property="courseType" column="course_type" />
        <result property="teacherName" column="teacher_name" />
        <result property="textbookId" column="textbook_id" />
        <result property="credit" column="credit" />
    </resultMap>

    <sql id="Base_Column_List">
        score_id,student_id,score_score,course_id
    </sql>

    <select id="getSelectedCourseList" resultMap="SelectedCourseVOMap">
        SELECT c.course_id, c.course_name, t.name AS teacher_name, c.course_classroom,
               c.course_time, c.course_type, c.textbook_id, c.credit, s.student_id, s.student_name, sc.score_id
        FROM score sc
        LEFT JOIN course c ON sc.course_id = c.course_id
        LEFT JOIN teacher t ON c.teacher_id = t.teacher_id
        LEFT JOIN student s ON sc.student_id = s.student_id
        WHERE sc.student_id = #{studentId}
        ORDER BY c.course_id ASC
    </select>

    <select id="getCourseIdsByStudentId" resultType="java.lang.Long">
        SELECT course_id FROM score WHERE student_id = #{studentId}
    </select>

    <select id="getAvailableCourseList" resultMap="SelectedCourseVOMap">
        SELECT c.course_id, c.course_name, t.name AS teacher_name, c.course_classroom,
        c.course_time, c.course_type, c.textbook_id, c.credit, s.student_id, s.student_name
        FROM course c
        LEFT JOIN teacher t ON c.teacher_id = t.teacher_id
        LEFT JOIN student s ON s.student_id = #{studentId} AND s.major_id = c.major_id
        WHERE c.major_id = (SELECT major_id FROM student WHERE student_id = #{studentId})
        <if test="selectedCourseIds != null and selectedCourseIds.size() > 0">
            AND c.course_id NOT IN
            <foreach collection="selectedCourseIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

</mapper>
